# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Latex files
*.aux
*.log
*.out
*.synctex.gz
*.tex.backup
*.tex.bak
*.toc

#MAC
*.DS_STORE
